:root {
  --desktop-header-height: 80px;
  --mobile-header-height: 60px;
  --desktop-content-padding: 60px;
  --mobile-content-padding: 10px;
}

html {
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 0 !important;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
input:-webkit-autofill:active {
  // Hide background color, when autofill input
  box-shadow: 0 0 0 30px white inset !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 999px;
}

/* disable amount bar input spinner */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
